.header {
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.2);
}

summary.title {
    margin-top: 1em;
    font-size: 1em;
    font-weight: normal;
    outline: none;
}

details[open] {
    background: light-green;
font-weight: normal;    /* the style goes here */
}
