@charset "utf-8";

$body-size: 18px;
$title-size: 1.25rem;
$body-line-height: 1.5rem;
$orange: #ff6f00; 


// Import only what you need from Bulma
// removed content
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../../node_modules/bulma/sass/utilities/functions.sass";
@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../../node_modules/bulma/sass/utilities/mixins.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";

//site style
$pagination-background-color: $grey-lighter;
$pagination-current-background-color: $grey-light;
$pagination-active-color: $dark;
$button-color: $grey-darker;

$navbar-height: $body-line-height;

//asciidoc
$warning: $orange;
$warning-invert: $orange-invert;
//asciidoctor admonitions will correspond a bit to bulma
//asciidoctor: $bulma  set asciidoctor to $bulma
$caution-color: $warning;
$invert-caution: findColorInvert($warning);
$important-color: $purple;
$invert-important: findColorInvert($important-color);
$note-color: $info;
$invert-note: findColorInvert($note-color);
$tip-color: $success;
$invert-tip: findColorInvert($tip-color);
$warning-color: $danger;
$invert-warning: findColorInvert($warning-color);

$border-dark: $primary-dark;

$panel-background: $white-bis;
$panel-border-color: $grey-lighter;

$abstract-background: $grey-lighter;
$abstract-border-color: $panel-border-color; 

$example-background: $white-ter;
$example-border-color: $panel-border-color; 

$sidebar-background: $grey-lighter;

$kbd-background: $panel-background;
$kbd-border-color: $grey-dark;

$quote-background: $panel-background;
$quote-border-color: $grey-dark;

$pre-background: $white-ter;
$code-background: $pre-background;

