{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
  {{ define "schema-dot-org" }}
    <script type="application/ld+json">
      {
  "@context": "http://schema.org",
  "@type": "Blog",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": {{ substr .Site.Title 0 110 }},
  "url" : {{ printf "%s" .Permalink }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author }}
  },
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .Date.IsZero }}
 "dateModified": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- /* all of the site's categories/tags, from Hugo's tpl/template_embedded.go */}}
  "keywords": {{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}
  {{- with .Site.Params.description -}}
 ,
  "description": {{- . -}}
  {{- end }}
}
    </script>
  {{ end }}
  {{ define "main" }}

  <aside class="left"></aside>

  <main id="main">
    <section class="posts">
      {{ $paginator := .Paginate (where .Pages "Type" "post") }} 
      {{ range $paginator.Pages }} 
        {{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}
        {{ $author := default .Site.Params.Author (index .Params "author") }} 

        <div class="sidebarblock">
          {{ if .Params.Image }}
            <figure class="image">
              <img src="{{ .Params.Image }}"> 
            </figure>
          {{ end }}

          <h4 class="">
            <a href="{{ .Permalink }}">
              {{ if .Truncated }}
                <img class="icon" src="/images/icons/text-indent-more.svg"></img>
            {{ end }}
            {{ .Title | markdownify }}</a>
          </h4>

          <div class="tags">
            {{ if $author }}<div class="tag">{{ $author }}</div>|{{ end }}
              <div class="tag"><time>{{ .PublishDate.Format $dateFormat }}</time></div>
          </div>

          <div class="doc">
            {{ if .Truncated }}
              {{ .Summary }}
              <div>
                <a  href="{{ .RelPermalink }}"><img class="icon"src="/images/icons/more-horizontal-f.svg"></a>
              </div>
            {{ else }}

            <div class="doc">
              {{ .Content }}
            </div>
          {{ end }}
          </div>

          <div class="tags">
            {{ partial "meta.html" . }}
          </div>
        </div>

      {{ end }}
    </section>

    <div class="pagination">
      {{ template "_internal/pagination.html" . }}
    </div>
  </main>
  <aside class="right"></aside>
{{ end }}
{{- /* vim: set ts=2 sw=2 et: */}}

