{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
  {{ define "main" }}
    <aside class="left"></aside>
    <main id="main">
      {{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
      <article>
        {{ $tagcolor := .Site.Params.params.color }}

        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>

        <div class="dropdown is-active">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" alt="changer la police la la page">
              <span>Changer la police de la page</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>

          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item" data-family="Noto Sans">
                Noto Sans
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item" data-family="Cousine">
                Cousine
              </a>
              <a href="#" class="dropdown-item" data-family="Gentium Basic">
                Gentium Basic 
              </a>
              <a href="#" class="dropdown-item" data-family="Balsamiq Sans">
                Balsamiq Sans 
              </a>
              <a class="dropdown-item" data-family="Inter">
                Inter
              </a>
            </div>
          </div>
        </div>

        <div class="doc">
          {{ .Content }}
        </div>

        <script>
          $(".dropdown .button").on("click" ,function(e){
            e.preventDefault();
            $(this).closest(".dropdown").addClass("is-active");
          });
$('body').on('click', function(e) {
  if($(e.target).closest('.dropdown').length == 0 && $(e.target).closest('#dropdown-menu .dropdown-content a').length == 0 ) {
    $(".dropdown").removeClass("is-active");
  }
});

$("body").on("click" ,"#dropdown-menu .dropdown-content a" ,function(e){
  e.preventDefault();
  $(".doc").css("font-family" , $(this).attr("data-family"));
  $(this).closest(".dropdown").find("button.button").css("font-family" , $(this).attr("data-family"));
  $(".dropdown").removeClass("is-active");
  $(this).closest(".dropdown").find("button.button").text($(this).attr("data-family"));
});
        </script>

        <row class="share">
        {{ if (ne ($.Param "share") false) }}
          {{ partial "share" . }}
        {{ end }}
        </row>

        <row class="space-between">
        <div class="tags">
          {{ partial "meta" . }}
        </div>

        <div class="pageedit">
          <kbd class="tag"> <a class="kbd" href="{{ .Site.Params.gitrepo }}/{{ .Site.Params.gitpath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}"
                                           target="_blank" rel="noopener" alt="{{ i18n "pageedit"}}"><span>{{ i18n "pageedit" }}</span></a></kbd>
        </div>
        </row>

        <row class="discus">
        {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
          {{ template "_internal/disqus.html" . }}
        {{ end }}
        </row>

      </article>
    </main> 
    <aside class="right">
    </aside>
  {{ end }}
  {{- /* vim: set ts=2 sw=2 et: */}}
