  /* https://tobiasahlin.com/blog/common-flexbox-patterns/#masonry-or-mosaic */
  .resources {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 3500px;
  }

  .resources div.sidebarblock {
    width: 32%;
    /*   margin-bottom: 2%; (100-32*3)/2 */
  }

  /* Re-order items into rows 
   * can we do 2 rows for different media query? */
  .resources div.sidebarblock:nth-child(3n+1) { order: 1; }
  .resources div.sidebarblock:nth-child(3n+2) { order: 2; }
  .resources div.sidebarblock:nth-child(3n)   { order: 3; }

  /* Force new columns */
  .resources::before,
  .resources::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }

  @media (max-width: 768px) {
    .resources {
      display: block;
      height: auto;
    }
    .resources div.sidebarblock {
      width: 100%;
    }
  }
