/* site footer */
footer.site {
  background: var(--grey-light);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  padding: 1rem;
  margin-bottom: 0;
}

footer.site>* {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.doc footer {
  display: flex;
  flex-flow: column;
}
