html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1em;

  grid-template-areas:
    "head head head"
    "left main right"
    "foot foot foot";

  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  grid-area: head;
  z-index: 999;
}

aside.left {
  grid-area: left;
  margin-left: 0.5rem;
}

main {
  grid-area: main;
  margin: .5rem;
}

aside.right {
  grid-area: right;
  margin-right: 0.5rem;
}

footer {
  grid-area: foot;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "head"
      "main"
      "left"
      "right"
      "foot";
  }
}

/*   body above this line */


.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

@media (max-width: 768px) {
   .posts {
    grid-template-columns:  1fr;
  }
}

@media (min-width: 769px) {
  .sidebarblock:nth-of-type(1){
    grid-column: span 3;
  }
  .sidebarblock:nth-of-type(1n+2){
    grid-column: span 2;
  }
  .sidebarblock:nth-of-type(1n+3){
    grid-column: span 1;
  }
  .sidebarblock:nth-of-type(1n+5){
    grid-column: span 2;
  }
  .sidebarblock:nth-of-type(1n+7){
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .sidebarblock:nth-of-type(1){
    grid-column: span 1;
    grid-row: span 1;
  }
}
/*
.card:nth-of-type(1n+2) {
  grid-column: span 2;
  grid-row: span 1;
}

.card:nth-of-type(4n+3),
.card:nth-of-type(4n+4) {
  grid-column: span 2;
  grid-row: span 1;
}
 */
