.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: absolute;
  padding-bottom: 50px;
  margin: 0;
}
.inner-hero {
  width: 70%;
  text-align: left;
}

div.sidebarblock.hero {
  margin: unset;
}
