.masonry {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

@media (max-width: 768px) {
   .masonry {
    grid-template-columns:  1fr;
  }
}

 .masonry .sidebarblock:nth-of-type(1n+1){
    grid-column: span 1;
  }
/*
.card:nth-of-type(1n+2) {
  grid-column: span 2;
  grid-row: span 1;
}

.card:nth-of-type(4n+3),
.card:nth-of-type(4n+4) {
  grid-column: span 2;
  grid-row: span 1;
}
 */
