.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 400px, auto;
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .posts {
    grid-template-columns:  1fr;
  }
}

@media (min-width: 769px) {
  .posts .sidebarblock:nth-of-type(1){
    grid-column: span 3;
  }
  .posts .sidebarblock:nth-of-type(1n+2){
    grid-column: span 2;
  }
  .posts .sidebarblock:nth-of-type(1n+3){
    grid-column: span 1;
  }
  .posts .sidebarblock:nth-of-type(1n+5){
    grid-column: span 2;
  }
  .posts .sidebarblock:nth-of-type(1n+7){
    grid-column: span 1;
  }
}

@media (max-width: 768px) {
  .posts .sidebarblock:nth-of-type(1){
    grid-column: span 1;
    grid-row: span 1;
  }
}
/*
.card:nth-of-type(1n+2) {
  grid-column: span 2;
  grid-row: span 1;
}

.card:nth-of-type(4n+3),
.card:nth-of-type(4n+4) {
  grid-column: span 2;
  grid-row: span 1;
}
 */
  /* inspired from https://github.com/regisphilibert/rp_hugo_theme/blob/master/assets/sass/modules/_Card.scss  bk */

  section .sidebarblock {
    font-size: 1rem;
    transition: padding-left 150ms;
    position: relative;
    display: block;
  }
  section .sidebarblock:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: var(--accent);
    transition: width 150ms;
  }
  section .sidebarblock:hover {
    padding-left: 3em;
  }
  section .sidebarblock:hover:before {
    width: .8em;
  }

