#nav {
    position: sticky;
    top: 0;
}

nav img.icon {
  height: 1.5rem;
  width: auto;
}

.navbar {
  max-height: 1.5rem;
  min-height: 1.5rem;
  font-size: 1.4rem;
  padding: 0px 0px 0px 0px;
  line-height: 1.5rem;
  font-family: "Inconsolata-Powerline", "Cousine", "monospace";
  background: var(--navbar-background);
  position: sticky;
  top: 0;
}

.navbar-brand {
  display: flex;
  min-height: 1.5rem;
  max-height: 1.5rem;
  font-size: 1.4rem;
  padding: 0px 0px 0px 9px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.navbar-brand .navbar-item:first-child,
.navbar-brand .navbar-item:first-child a {
  color: inherit;
  font-size: unset;
}

.navbar-menu {
  min-height: 1.5rem;
  max-height: 1.5rem;
  font-size: 1.4rem;
  padding: 0px 0px 0px 9px;
}

.navbar-end,
.navbar-start,
.powerline-item {
  min-height: 1.5rem;
  max-height: 1.5rem;
  font-size: 1.4rem;
  padding: 0px 0px 0px 0px;
  line-height: 1.5rem;
}

.navbar-burger{
  max-height: 1.5rem;
}

.a:hover{
  text-decoration: underline;
}

.powerline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 1.1em;
}

.prompt-left {
  display: flex;
  flex-basis: content;
  justify-content: left;
  flex-grow: 0;
  flex-shrink: 1;
}

.prompt-right {
  display: flex;
  flex-basis: content;
  justify-content: right; 
  flex-grow: 0;
  flex-shrink: 1;
}
.prompt-center {
  display: flex;
  flex-basis: content;
  justify-content: center;
  flex-grow: 1;
}


.fg-white {
  color: var(--color-smoke-50);
}
.fg-blue {
  color: var(--color-blue);
}
.bg-blue {
  background-color: var(--color-blue);
}
.bg-gray {
  background-color: var(--color-smoke-90);
}
.fg-gray {
  color: var(--color-smoke-90);
}
.bg-dark-gray {
  background-color: var(--color-gray-30);
}
.fg-dark-gray {
  color: var(--color-gray-30);
}
.bg-orange {
  background-color: var(--color-orange);
}
.fg-orange {
  color: var(--color-orange);
}
.fg-red {
  color: var(--color-red);
}

.doc {
    overflow: auto;
}

@media (max-width: 1023px) {
    .tag:not(body) {
        justify-content: flex-start;
        overflow: auto;
    }
    .navbar-dropdown {
        display: none;
        min-width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: blue;
    }
    .navbar-dropdown--active {
        display: block;
    }
    .prompt-right {
        display: none;
    }
    .navbar-start,
    .navbar-end {
        display: none;
    }
    .navbar-menu {
        position: absolute;
        right: 0;
        top: 100%;
        max-height: none;
    }
    .navbar-menu .prompt-center {
        flex-direction: column;
        align-items: flex-start;
    }
}

