<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Cousine:ital@0;1&display=swap" rel="stylesheet">
    <style>
      
            @font-face {
                font-family: 'Cousine';
                font-style: normal;
                font-weight: 400;
            }

            @font-face {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 400;
            }

            .doc {
             font-family: "Noto Sans";
            }

        </style> 
<body>
     <div class="card-content is-primary">

        <div class=dropdown>
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Polices</span>
                <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>

        <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="#" class="dropdown-item" data-family="Cousine">
                 Cousine
                </a>
                <a href="#" class="dropdown-item" data-family="Noto Sans">
                 Noto Sans
                </a>
                <a href="#" class="dropdown-item">
                 Another font
                </a>
                <a href="#" class="dropdown-item">
                Yet another font
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                With a divider
                </a>
            </div>
        </div>

        </div>

        <div class="doc">
           {{ .Content }}
           dadadaasetyui
        </div>

        <script>
            window.addEventListener('DOMContentLoaded', event => {
              const button = document.querySelector(".button")
              const buttonValue = document.querySelector(".button span")
              const dropdown = document.querySelector(".dropdown")
              const doc = document.querySelector(".doc")

              doc.style.fontFamily = "Noto Sans";
              buttonValue.textContent = "Noto Sans"

              button.addEventListener('click', event => {
                event.stopPropagation();
                  dropdown.classList.add('is-active')
              })

              dropdown.addEventListener("focusout", event => {
                event.stopPropagation();
                dropdown.classList.remove('is-active');

               document.querySelectorAll('.dropdown-item').forEach(el =>{
                        el.addEventListener('click', (e) => {
                            e.stopPropagation();
                            const font = e.currentTarget.getAttribute('data-family')
                            doc.style.fontFamily = font;
                            buttonValue.textContent = font;
                    })
                })
              });
           })
      </script> 
</body>
</html>
