<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=6">
  <title itemprop="name">{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <base href="{{ .Permalink }}">
  <meta name="url" content="{{ .Permalink }}" />

  <meta name="language" content="{{ .Language.LanguageName }}">
  {{ range .AllTranslations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
  {{ end }}

  {{- with .Site.Params.bing_verify_meta -}}
    <meta name="msvalidate.01" content="{{ . }}" />
  {{ end }}

  {{- with .Site.Params.yandex_verify_meta -}}
    <meta name="yandex-verification" content="{{ . }}" />
  {{ end }}


{{ $cssOpts := (dict "targetPath" "css/style.css" "enableSourceMap" true ) }}

{{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS |  minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}"  integrity="{{ $styles.Data.Integrity }}" media="screen">

  {{ range .Site.Params.customcss -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
  {{- end }}

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  {{ partial "schema.html" . }}

  <style>
  /* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
}
  /* cousine-regular - latin */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
}
/* gentium-basic-regular - latin */
@font-face {
  font-family: 'Gentium Basic';
  font-style: normal;
  font-weight: 400;
}
/* balsamiq-sans-regular - latin */
@font-face {
  font-family: 'Balsamiq Sans';
  font-style: normal;
  font-weight: 400;
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}
  </style>
  <script 
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
  </script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
{{- /* vim: set ts=2 sw=2 et: */}}
{{- /*

  {{- .Site.Hugo.Generator -}}
{{ template "_internal/opengraph.html" . }}
*/ -}}

