<nav class="navbar is-family-code" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

  <div class="item bg-gray">&nbsp;</div>
  <div class="bg-gray"> <span class="iconify" data-icon="fa:language" data-inline="true"></span>&nbsp;</div>
    <div class="item bg-blue fg-gray"></div>


  <div class="navbar-item  has-dropdown is-hoverable">
    <a class="navbar-item bg-blue fg-white is-link is-uppercase" href="#">{{ .Site.Language.LanguageName }}</a>
    <div class="item bg-blue">&nbsp;</div>
  <div class="bg-dark-gray fg-blue"></div>
  <div class="bg-dark-gray">⚡</div>
    <div class="item bg-white fg-dark-gray"></div>
  <div class="bg-white fg-blue"></div>

    <div class="navbar-dropdown">
      {{ partial "language" . }}
    </div>

  </div>


    <a role="button" class="navbar-burger burger is-link" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


    <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
        </div>
            {{ $currentPage := . }}
            {{/* Render menu with single sub-menu (optional) */}}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }} {{/* If a menu has child items ... */}}
                <div class="navbar-item has-dropdown is-hoverable {{ if (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}has-text-weight-bold{{ end }}" aria-haspopup="true">
                    <a href="{{.URL | default '#'}}" class="navbar-link">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>

                    <div class="navbar-dropdown is-boxed">
                    {{ range .Children }}
                        {{/* Check for menu items named like "---- 1", etc and turn into HR's */}}
                        {{if eq (substr .Name 0 5) "---- " }}
                            <hr />
                        {{else}}
                            <a href="{{ .URL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}has-text-weight-bold{{ end }}">
                                {{ .Name }}
                            </a>
                        {{end}}
                    {{ end }}
                    </div>
                </div>
                {{else}} {{/*Plain menu item (no children) */}}
                {{if eq (substr .Name 0 5) "---- " }}
                <hr />
                {{else}}
                <a href="{{.URL}}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}has-text-weight-bold{{ end }}">
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                </a>
                {{end}}{{end}}
            {{end}}



      <div class="navbar-end">
        <div class="prompt-right">
          <div class="item fg-dark-gray"></div>
          <div class="item fg-white bg-dark-gray">&nbsp;[unix] </div>
          <div class="item bg-dark-gray fg-gray"></div>
          <div class="item bg-gray"> 100% ☰ : 1 </div>
          <div class="item fg-orange bg-gray"></div>
          <div class="item bg-orange">&nbsp;</div>
          {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
          <a href="{{ .Permalink | absLangURL }}" class="icon bg-orange"><img src="/images/rss.svg"></a>
           {{ end -}}
          <div class="item fg-red bg-orange"></div>
        </div>
      </div>
  </div>
</nav>
{{- /* vim: set ts=2 sw=2 et: */}}
