{{ $currentPage := . }}
<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.Home.Permalink }}">{{ .Site.Title }}</a>
    <button class="navbar-burger" data-target="topbar-nav">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div id="topbar-nav" class="navbar-menu">

    <div class="navbar-start">
      {{ partial "mainmenu" . }}
    </div>

    <div class="navbar-end">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Jula</a>
        <div class="navbar-dropdown">
          {{ partial "jula" . }}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">{{ i18n "categories" | humanize }}</a>
        <div class="navbar-dropdown">
          {{ partial "categories" . }}
        </div>
      </div>

        {{ if and (gt .Site.Languages 1) (.Site.Params.showHeaderLanguageChooser | default true) }}
        {{- $.Scratch.Set "language" .Language -}}
        <div class="navbar-item languages">
        {{ range $.Site.Home.AllTranslations }}
            {{ if eq ($.Scratch.Get "language") .Language }}
                <a href="{{ .Permalink }}" class="is-active">{{ .Language }}</a>
            {{ else }}
                <a href="{{ .Permalink }}">{{ .Language }}</a>
            {{ end }}
        {{ end }}
        </div>
        {{ end }}

    </div>
  </div>
</nav>
