<nav class="navbar sticky" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <div class="bg-gray">&nbsp;</div>
    <div class="bg-gray"> <img class="icon" src="/images/icons/language.svg"> &nbsp;</div>
    <div class="bg-blue fg-gray"></div>

    <div class="navbar-item has-dropdown is-hoverable">
      <div class="powerline-item bg-blue">&nbsp;</div>
      <a class="powerline-item bg-blue fg-white" href="#">{{ .Site.Language.LanguageName }}</a>
      <div class="powerline-item bg-blue">&nbsp;</div>
      <div class="powerline-item bg-dark-gray fg-blue"></div>
      <div class="powerline-item bg-dark-gray">⚡</div>
      <div class="powerline-item bg-white fg-dark-gray"></div>
      <div class="powerline-item bg-white fg-blue"></div>

      <div class="navbar-dropdown">
        {{ partial "language" . }}
      </div>

    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class=prompt-center>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a href="{{.URL | relLangURL }}" class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}{{ end }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      {{end}}
    </div>

    <div class="navbar-end">

      {{ if isset .Site.Params "sectionpagesmenu"   }}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Sections</a>

          <div class="navbar-dropdown">
            {{ range .Site.Menus.sections }}
              <li>
                <a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                <a href="{{ absURL .URL }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </div>
        </div>
      {{ end }}

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">Jula</a>
        <div class="navbar-dropdown">
          {{ partial "jula" . }}
        </div>
      </div>

      <div class="prompt-right"> 

        <div class="powerline-item fg-dark-gray"></div>
        <div class="powerline-item fg-white bg-dark-gray">&nbsp;[unix] </div>
        <div class="powerline-item bg-dark-gray fg-gray"></div>
        <div class="powerline-item bg-gray"> 100% ☰ : 1 </div>
        <div class="powerline-item fg-orange bg-gray"></div>
        <div class="powerine-item bg-orange">&nbsp;</div>
        {{ with .OutputFormats.Get "rss" -}}
          {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
          <a href="{{ .Permalink | absLangURL }}" class="icon bg-orange"><img class="icon" src="/images/icons/rss.svg"></a>
        {{ end -}}
        <div class="powerline-item fg-red bg-orange"></div>
      </div>

    </div>
  </div>
</nav>
{{- /* vim: set ts=2 sw=2 et: */}}
