<div class="social-media">
  {{ range sort .Site.Params.social "weight" }}
  <a class="link" href="{{ .url }}">
    {{ $path := printf "social-icons/%s.svg" .name }}
    {{ partial $path (dict "class" "social-media-icon") }}
  </a>
  {{ end }}
</div>
